@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: rgb(0, 0, 0);
    --cor2: #250902;
    --cor3: #38040e;
    --cor4: #640d14;
    --cor5: #800e13;
    --fonte-titulo: "Lora", serif;
    --fonte-texto: "Montserrat", sans-serif;
}

body {
    background-color: var(--cor2);
    font-family: var(--fonte-texto);
}

h1 {
    background-color: rgb(163, 50, 50);
}

.cabecalho {
    background-color: var(--cor4);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-img {
    width: 10%;
    margin: 1em
}

.cabecalho-link {
    text-decoration: none;
    font-size: 2em;
    color: var(--cor2);
    font-family: var(--fonte-titulo);
    margin-right: 1em;
}
.principal-capa{
    display: flex;
    background-color: var(--cor5);
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}
.principal-capa__titulo{
    font-size: 1.5em;
    font-family:var(--fonte-titulo) ;
}
.principal-capa__texto{
    font-size: 2em;
    margin-top: 1em;
}
.principal-capa__img{
    border-radius: 10px;
}
.principal-capa__combotao{
    display: flex;
    flex-direction: column;
}
.principal-capa__botao{
    background-color: var(--cor5);
    color: var(--cor3);
    padding: 1em;
    margin-top: 1em;
    font-size: 1.3em;
    width: 50%;
    text-decoration: none;
    border-radius: 10px;
}